<template>
  <div class="contact-page has-text-centered">
    <page-title
      title="Make First Contact"
      subtitle="We are all ears"
    />
    <div class="container">
      <contact-form />
    </div>
  </div>
</template>

<script>
import ContactForm from '@/components/UI/ContactForm'

export default {
  components: {
    ContactForm
  },
  head: {
    title: 'AISight - Contact'
  }
}
</script>
