<template>
  <div class="has-text-centered">
    <page-title
      title="Articles"
      subtitle="We write more than code"
    />
    <div class="has-text-right subtitles">
      <p>
        The articles on this page are copies of articles that have been published, but also written by actual machines.
      </p>
      <small>It is completely normal for you to experience a feeling of obsolescence.</small>
    </div>
    <div class="container">
      <article-list :articles="loadedArticles" />
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    loadedArticles () {
      return this.$store.getters.loadedArticles
    }
  },
  head: {
    title: 'Articles'
  }
}
</script>

<style scoped>
.subtitles {
  padding: 2em;
}
</style>
