<template>
  <div class="login-page">
    <page-title
      title="Login"
      subtitle="Looks like you tried to access a restricted area..."
    />
    <section class="form columns is-centered signup">
      <form class="signup-form column is-half" @submit.prevent="onLogin">
        <b-field label="Email">
          <b-input
            v-model="email"
            type="email"
            icon-pack="fas"
            icon="envelope"
            required
            placeholder="Your email"
          />
        </b-field>

        <b-field label="Password">
          <b-input
            v-model="password"
            icon-pack="fas"
            icon="lock"
            password-reveal
            required
            placeholder="Your password"
            type="password"
            maxlength="30"
          />
        </b-field>

        <div class="field">
          <b-checkbox type="is-dark">
            Remember Me
          </b-checkbox>
        </div>

        <b-field group-multiline>
          <div class="buttons is-centered">
            <button
              class="button form-control is-dark"
              type="submit"
              size="is-medium"
            >
              Login
            </button>
            <nuxt-link to="/">
              <button
                class="button form-control is-dark-inversed"
                size="is-medium"
              >
                Go Back
              </button>
            </nuxt-link>
          </div>
        </b-field>
      </form>
    </section>
  </div>
</template>

<script>
/* eslint-disable no-console */

export default {
  name: 'LoginPage',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    onLogin () {
      this.$store.dispatch('authenticateUser', {
        email: this.email,
        password: this.password,
        isLogin: true
      })
        .then(() => {
          this.$router.push('/admin')
        })
        .catch(e => console.log(e))
    }
  },
  head: {
    title: 'AISight - Register'
  }
}
</script>

<style scoped>
.signup-form {
  padding: 6em 8em;
  margin-bottom: 5em;
  border-radius: 5px;
  background-color: hsla(180, 4%, 50%, 0.603);
}

.link{
  text-decoration: underline;
}

.form-control {
  padding-right: 2em;
  padding-left: 2em;
  margin-right: 2em !important;
  margin-left: 2em !important;
}

.login-text {
  font-weight: bold;
}
</style>
