<template>
  <div class="registration-page">
    <page-title
      title="Registration"
      subtitle="Join Us"
    />
    <div class="container has-text-centered">
      <button
        class="button is-inline-block is-dark"
        @click="loginModal()"
      >
        Already a registered user?
        <span class="login-text">Login</span>
      </button>
    </div>
    <section class="form columns is-centered signup">
      <form class="signup-form column is-half" @submit.prevent="onSignup">
        <b-field label="Email">
          <b-input
            v-model="email"
            type="email"
            icon-pack="fas"
            icon="envelope"
            required
            placeholder="Your email"
          />
        </b-field>

        <b-field label="Password">
          <b-input
            v-model="password"
            icon-pack="fas"
            icon="lock"
            password-reveal
            required
            placeholder="Pick a strong password"
            type="password"
            maxlength="30"
          />
        </b-field>

        <div class="field">
          <b-checkbox required type="is-dark">
            I agree to the <nuxt-link class="link" to="/legal">
              Terms & Conditions
            </nuxt-link>
          </b-checkbox>
        </div>

        <b-field group-multiline>
          <div class="buttons is-centered">
            <button
              class="button form-control is-dark"
              type="submit"
              size="is-medium"
            >
              Join
            </button>
            <nuxt-link to="/">
              <button
                class="button form-control is-dark-inversed"
                size="is-medium"
              >
                Go Back
              </button>
            </nuxt-link>
          </div>
        </b-field>
      </form>
    </section>
  </div>
</template>

<script>
/* eslint-disable no-console */
import LoginModal from '@/components/Auth/LoginModal'

export default {
  name: 'SignupPage',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    onSignup () {
      this.$store.dispatch('authenticateUser', {
        email: this.email,
        password: this.password,
        isLogin: false
      })
        .then(() => {
          this.$router.push('/admin')
        })
        .catch(e => console.log(e))
    },
    loginModal () {
      this.$buefy.modal.open({
        parent: this,
        component: LoginModal,
        hasModalCard: true,
        trapFocus: true
      })
    }
  },
  head: {
    title: 'AISight - Register'
  }
}
</script>

<style scoped>
.signup-form {
  padding: 6em 8em;
  margin-bottom: 5em;
  border-radius: 5px;
  background-color: hsla(180, 4%, 50%, 0.603);
}

.link{
  text-decoration: underline;
}

.form-control {
  padding-right: 2em;
  padding-left: 2em;
  margin-right: 2em !important;
  margin-left: 2em !important;
}

.login-text {
  font-weight: bold;
}
</style>
