<template>
  <div class="admin-page">
    <page-title
      title="Admin - HomePage"
      subtitle="Manage your website"
    />
    <section class="buttons">
      <div class="container has-text-centered">
        <nuxt-link to="/admin/new-article">
          <button class="button dashboard-button is-large is-inline-block is-black">
            Create a new Article
          </button>
        </nuxt-link>
        <nuxt-link to="/admin/users">
          <button class="button dashboard-button is-large is-inline-block is-black">
            Consult Users List
          </button>
        </nuxt-link>
      </div>
    </section>

    <section class="published-articles container has-text-centered">
      <h1 class="title is-size-2">
        Published Articles
      </h1>
      <article-list
        is-admin
        :articles="loadedArticles"
      />
    </section>
  </div>
</template>

<script>
export default {
  layout: 'admin',
  computed: {
    loadedArticles () {
      return this.$store.getters.loadedArticles
    }
  },
  head: {
    title: 'Admin - Home'
  }
}
</script>

<style scoped>
.dashboard-button {
  margin: 1em;
}

.published-articles {
  padding-top: 2em;
}
</style>
