<template>
  <div class="container new-article-page has-text-centered">
    <h1 class="title is-inline-block">
      Create a new Article
    </h1>
    <section class="new-article-form">
      <admin-article-form @submit="onSubmitted" />
    </section>
  </div>
</template>

<script>
/* eslint-disable no-console */
import AdminArticleForm from '@/components/Admin/AdminArticleForm'

export default {
  layout: 'admin',
  components: {
    AdminArticleForm
  },
  methods: {
    onSubmitted (articleData) {
      this.$store.dispatch('addArticle', articleData)
        .then(() => {
          this.$router.push('/admin')
        })
        .catch(e => console.log(e))
    }
  },
  head: {
    title: 'Admin - Create New Article'
  }
}
</script>

<style scoped>
.title {
  margin: 1em;
}
</style>
