<template>
  <div class="media">
    <noscript>Please enable the use of Javascript to display the player</noscript>
    <iframe
      width="100%"
      height="166"
      scrolling="no"
      frameborder="no"
      allow="autoplay"
      :src="src"
    >
      <div class="author-credits">
      <a
      class="links"
      href="https://soundcloud.com/jukedeck"
      title="Jukedeck"
      target="_blank"
      >Jukedeck</a> ·
      <a
      class="links"
      href="https://soundcloud.com/jukedeck/1-dalston-graffiti-synth-pop"
      :title="title"
      target="_blank"
      >{{ title }}</a>
      </div>
    </iframe>
  </div>
</template>

<script>
export default {
  name: 'AudioPlayer',
  props: {
    src: {
      type: String,
      default: 'https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/362996750&color=%23101010&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true'
    },
    title: {
      type: String,
      default: '1. Dalston Graffiti (Synth Pop)'
    }
  }
}
</script>

<style lang="scss" scoped>
.author-credits {
  font-size: 10px;
  color: #050505;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
}
.links {
  color: #050505;
  text-decoration: none;
}

.media {
  background-color: #9999999f;
}
</style>
