/* eslint-disable vue/html-quotes */
<template>
  <div class="gallery-page">
    <page-title
      title="Gallery"
      subtitle="Totally not creepy stuff"
    />
    <div class="container has-text-right subtitles">
      <p>
        Look upon the glorious machine-art in awe. No longer can man pretend to have the monopoly on artistic sensitivity.
      </p>
      <small>Source: Reddit</small>
    </div>

    <div class="gallery">
      <b-carousel
        animated="fade"
        icon-pack="fa"
        repeat
        autoplay
        with-carousel-list
        :indicator="false"
        :overlay="gallery"
        @click="switchGallery(true)"
      >
        <b-carousel-item v-for="(item, i) in items" :key="i">
          <figure class="image is-16by9" @click="switchGallery(true)">
            <img
              has-ratio
              :src="item.image"
              webp-fallback=".jpg"
              placeholder="/static/icon.png"
            >
          </figure>
        </b-carousel-item>
        <span v-if="gallery" class="modal-close is-large" @click="switchGallery(false)" />
        <template slot="list" slot-scope="props">
          <b-carousel-list
            v-model="props.active"
            icon-pack="fa"
            :data="items"
            v-bind="al"
            as-indicator
            @switch="props.switch($event, false)"
          />
        </template>
        <template slot="overlay">
          <div class="has-text-centered has-text-white">
            Some of these "might" have been modified by a human artist. Nobody's perfect. Yet.
          </div>
        </template>
      </b-carousel>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      gallery: false,
      al: {
        hasGrayscale: true,
        itemsToShow: 8,
        breakpoints: {
          768: {
            hasGrayscale: false,
            itemsToShow: 4
          },
          960: {
            hasGrayscale: true,
            itemsToShow: 6
          }
        }
      },
      items: [
        {
          title: 'Eyes',
          image: 'https://i.imgur.com/FJ1ngSd.png'
        },
        {
          title: 'Fractal',
          image: 'https://i.imgur.com/CD0tnes.png'
        },
        {
          title: 'Fractal 2',
          image: 'https://i.imgur.com/yzogMSX.png'
        },
        {
          title: 'Golden Temple',
          image: 'https://i.imgur.com/tNVOPoJ.png'
        },
        {
          title: 'Valley',
          image: 'https://i.imgur.com/ik9DEGV.png'
        },
        {
          title: 'Landscape',
          image: 'https://i.imgur.com/Ckczl5R.jpg'
        },
        {
          title: 'Shoes',
          image: 'https://i.imgur.com/pDnOqMN.png'
        },
        {
          title: 'Tree',
          image: 'https://i.imgur.com/7CCOM8u.png'
        },
        {
          title: 'Autumn',
          image: 'https://i.imgur.com/iby8igQ.png'
        }
      ]
    }
  },
  methods: {
    switchGallery (value) {
      this.gallery = value
      if (value) {
        document.documentElement.classList.add('is-clipped')
      } else {
        document.documentElement.classList.remove('is-clipped')
      }
    }
  },
  head: {
    title: 'AISight - Gallery'
  }
}
</script>

<style scoped>
.gallery {
  margin: 3em;
}

.image {
  cursor: pointer;
}

.subtitles {
  padding: 2em;
}

img {
  border-radius: 5px;
}
</style>
