<template>
  <div class="container admin-article-page has-text-centered">
    <h1 class="title is-inline-block">
      Published Article
    </h1>
    <section class="update-form">
      <admin-article-form :article="loadedArticle" @submit="onSubmitted" />
    </section>
  </div>
</template>

<script>
import AdminArticleForm from '@/components/Admin/AdminArticleForm'

export default {
  layout: 'admin',
  components: {
    AdminArticleForm
  },

  asyncData (context) {
    return context.app.$axios
      .$get('/articles/' + context.params.articleId + '.json')
      .then((data) => {
        return {
          // Adding ID manually when add post to store, by creating new obj by pulling out props of the lA object, then adding ID
          loadedArticle: { ...data, id: context.params.articleId }
        }
      })
      .catch(e => context.error(e))
  },

  methods: {
    onSubmitted (editedArticle) {
      this.$store.dispatch('editArticle', editedArticle)
        .then(() => {
          this.$router.push('/admin')
        })
        // eslint-disable-next-line no-console
        .catch(e => console.log(e))
    }
  },

  head: {
    title: 'Admin - Modify Article'
  }
}
</script>

<style scoped>
.title {
  margin: 1em;
}
</style>
