<template>
  <div>
    <page-title
      title="Terms & Conditions of use"
      subtitle="You agree."
    />
    <div class="container has-text-centered">
      <terms />
    </div>
  </div>
</template>

<script>
import Terms from '@/components/Navigation/Terms'

export default {
  components: {
    Terms
  },
  head: {
    title: 'AISight - Legal'
  }
}
</script>
