<template>
  <img
    id="logo"
    src="/icon.png"
    class="logo"
    data-tilt
    data-tilt-speed="300"
    data-tilt-scale="1.1"
    data-tilt-perspective="400"
    data-tilt-max="35"
    data-tilt-reset
    data-tilt-reverse="true"
    data-tilt-full-page-listening
  >
</template>

<script>
export default {
  name: 'Logo'
}
</script>

<style scoped>
.logo {
  display: block;
  color: white;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(500px);
  transform: perspective(500px);
  margin: 0.1em;
}
</style>
