<template>
  <footer class="footer">
    <div class="columns is-centered">
      <div class="column has-text-centered social">
        <h2 class="is-size-6">
          <b-icon
            pack="fas"
            icon="share-alt"
          /> Share
        </h2>
        <div class="block">
          <a href="https://fr-fr.facebook.com/">
            <b-icon
              class="link"
              pack="fab"
              icon="facebook"
              size="is-large"
              type="is-primary"
            /></a>
          <a href="https://twitter.com/">
            <b-icon
              class="link"
              pack="fab"
              icon="twitter"
              size="is-large"
              type="is-info"
            /></a>
          <a href="https://gitlab.com/">
            <b-icon
              class="link"
              pack="fab"
              icon="gitlab"
              size="is-large"
              type="is-warning"
            /></a>
        </div>
      </div>

      <div class="column has-text-centered">
        <language-selector />
      </div>

      <div class="column has-text-centered">
        <nuxt-link to="/legal">
          <h3 has-text-link-dark class="link subtitle">
            Terms & Conditions
          </h3>
        </nuxt-link>
        <p>
          This website's content is licensed under <a class="link" has-text-link-dark href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons</a>.
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
import LanguageSelector from '@/components/UI/LanguageSelector'
export default {
  name: 'TheFooter',
  components: {
    LanguageSelector
  }
}
</script>

<style scoped>
.footer {
  background-image: url(../../assets/images/footer-background.jpg);
  background-position: 50%;
  position: relative;
  margin-top: 2rem;
}

.link {
  transition: transform .1s;
}

.link:hover {
  transform: scale(1.15);
}

</style>
