<template>
  <b-navbar class="navbar" fixed-top>
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <figure class="logo image is-48x48">
          <logo />
        </figure>
      </b-navbar-item>
    </template>

    <template slot="start">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        Home
      </b-navbar-item>
      <b-navbar-item tag="router-link" :to="{ path: '/game' }">
        Game
      </b-navbar-item>
      <b-navbar-item tag="router-link" :to="{ path: '/articles' }">
        Articles
      </b-navbar-item>
      <b-navbar-item tag="router-link" :to="{ path: '/vibes' }">
        Music
      </b-navbar-item>
      <b-navbar-item tag="router-link" :to="{ path: '/gallery' }">
        Gallery
      </b-navbar-item>
      <b-navbar-dropdown class="hoverable-item" collapsible hoverable label="Info">
        <b-navbar-item tag="router-link" :to="{ path: '/about' }">
          About
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/contact' }">
          Contact
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/legal' }">
          Legal
        </b-navbar-item>
      </b-navbar-dropdown>
      <b-navbar-item tag="router-link" :to="{ path: '/admin' }">
        Admin
      </b-navbar-item>
    </template>

    <template slot="end">
      <b-navbar-item tag="div">
        <div class="buttons">
          <section class="login-comp">
            <button
              class="button is-dark is-medium"
              @click="loginModal()"
            >
              Login
            </button>
            <nuxt-link to="/register">
              <button
                class="button is-dark-inversed is-medium"
              >
                Signup
              </button>
            </nuxt-link>
          </section>
        </div>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
import Logo from '@/components/Logo'
import LoginModal from '@/components/Auth/LoginModal'

export default {
  name: 'TheHeader',
  components: {
    Logo
  },
  methods: {
    loginModal () {
      this.$buefy.modal.open({
        parent: this,
        component: LoginModal,
        hasModalCard: true,
        trapFocus: true
      })
    }
  }
}
</script>

<style scoped>
a:hover,
a:active {
  border-bottom: 2px solid #000000;
}
.navbar {
  font-family: bord;
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA67, #DBDBDB67, #F2F2F267, #ADA99667);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eaeaea80, #dbdbdb67, #F2F2F267, #ADA99667); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.button {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
</style>
