<template>
  <section>
    <b-field horizontal label="Subject">
      <b-input name="subject" placeholder="The subject of your inquiry" expanded />
    </b-field>

    <b-field horizontal label="From">
      <b-input name="name" placeholder="Your Name" expanded />
      <b-input name="email" type="email" placeholder="your@email.here" expanded />
    </b-field>

    <b-field horizontal label="Topic">
      <b-select placeholder="Select a topic">
        <option value="1">
          General
        </option>
        <option value="2">
          Copyrights
        </option>
        <option value="3">
          Feature Suggestion
        </option>
      </b-select>
    </b-field>

    <b-field horizontal label="Your message">
      <b-input type="textarea" placeholder="Listening..." />
    </b-field>

    <b-field horizontal>
      <!-- Label left empty for spacing -->
      <p class="control">
        <button class="button is-dark">
          Send your message
        </button>
      </p>
    </b-field>
  </section>
</template>

<script>
export default {
  name: 'ContactForm'
}
</script>
