<template>
  <b-dropdown v-model="SelectedLanguage" multiple class="language-dropdown" aria-role="list">
    <button slot="trigger" slot-scope="{ active }" class="button is-black" type="button">
      <b-icon icon-pack="fas" icon="globe-europe" />
      <span>{{ SelectedLanguage }}</span>
      <b-icon :icon="active ? 'menu-up' : 'menu-down'" />
    </button>

    <b-dropdown-item value="French" aria-role="listitem">
      <div class="media">
        <b-icon class="media-left" icon-pack="fas" icon="globe-europe" />
        <h3>French</h3>
      </div>
    </b-dropdown-item>

    <b-dropdown-item value="English" aria-role="listitem">
      <div class="media">
        <b-icon class="media-left" icon-pack="fas" icon="globe-europe" />
        <h3>English</h3>
      </div>
    </b-dropdown-item>
  </b-dropdown>
</template>

<script>
export default {
  name: 'LanguageSelector',
  data () {
    return {
      SelectedLanguage: 'English'
    }
  }
}
</script>

<style scoped>
.language-dropdown {
  margin-top: 2em;
}
</style>
