<template>
  <div class="downward-arrow-container">
    <b-icon
      class="downward-arrow"
      pack="fas"
      icon="angle-down"
      size="is-large"
    />
  </div>
</template>

<script>
export default {
  name: 'ScrollCue'
}
</script>

<style scoped>
@keyframes fade-slide {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.downward-arrow-container {
  z-index: 10;
  animation: pulse 2s 3s ease-out infinite;
}
.downward-arrow {
  animation: fade-slide 1s 1s ease-out forwards;
  opacity: 0;
}
</style>
