<template>
  <section class="hero has-text-centered">
    <div class="page-header screen header-filter">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ title }}
          </h1>
          <h2 class="subtitle">
            {{ subtitle }}
          </h2>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'PageTitle',
  props: {
    title: {
      type: String,
      default: 'Page Title'
    },
    subtitle: {
      type: String,
      default: 'Page subtitle'
    }
  }
}
</script>

<style scoped>
/* .hero {
  background-image: linear-gradient(rgba(105, 105, 105, 0.336), rgba(219, 219, 219, 0.301)),
  url('../../assets/images/title-background3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  padding: 3em;
  margin: 1em;
} */

.title {
  color:rgb(255, 255, 255);
  font-family: Bord;
  font-size: 6rem;
  text-shadow: black 2px 2px 2px;
  padding-top: 0.5em;
}

.subtitle {
  color:rgb(255, 255, 255);
  font-size: 2rem;
  text-shadow: black 2px 2px 2px;
}

.hero {
  background: url('../../assets/images/title-background2.jpg') center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 0.75em;
  margin-bottom: 2em;
}
.screen {
  color: rgb(255, 255, 255);
  mix-blend-mode: multiply;
  background-color: rgba(5, 5, 5, 0.5)
}
</style>
