<template>
  <div class="single-article-page">
    <section class="article article-header backdrop">
      <div class="background">
        <h1 class="title is-size-1 article-title screen">
          {{ loadedArticles.title }}
        </h1>
        <div class="columns is-centered article-details subscreen">
          <div class="column is-narrow update-time">
            <b-icon
              pack="fas"
              icon="history"
            />
            <h5 class="is-size-5">
              {{ loadedArticles.updatedAt | date }}
            </h5>
          <!-- Regitering my date-filter.js plugin here to change date format -->
          </div>
          <br>
          <div class="column is-narrow article-author">
            <b-icon
              pack="fas"
              icon="pencil-alt"
            />
            <h5 class="is-size-5">
              by {{ loadedArticles.author }}
            </h5>
            <small>{{ loadedArticles.authoremail }}</small>
          </div>
        </div>
      </div>
    </section>

    <section class="columns is-centered article has-text-centered article-body">
      <div class="column is-6">
        <p class="article-content">
          {{ loadedArticles.content }}
        </p>
      </div>
    </section>

    <section class="article-footer">
      <div class="container articles-display">
        <h1 class="title is-size-5">
          More From This Author
        </h1>
        <article-list :articles="articlesList" />
      </div>
      <p class="feedback">
        Have a suggestion on how I could improve my articles/subjects/writings? Drop me a <a href="mailto:marius.pettex.simplon@gmail.com">note!</a>
      </p>
    </section>
  </div>
</template>

<script>
export default {
  asyncData (context) {
    return context.app.$axios
      .$get('/articles/' + context.params.id + '.json')
      .then((data) => {
        return {
          loadedArticles: data
        }
      })
      .catch(e => context.error(e))
  },
  computed: {
    articlesList () {
      return this.$store.getters.loadedArticles
    }
  },
  head: {
    title: 'AISight - Article'
  }
}
</script>

<style scoped>
.single-article-page {
  text-align: center;
  box-sizing: border-box;
}

.background {
  background-color: rgba(100, 100, 100, 0.26);
}

.article-title {
  color:rgb(255, 255, 255);
  font-family: Bord;
  font-size: 6rem;
  text-shadow: black 2px 2px 2px;
  padding-top: 3em;
  padding-right: 1em;
  padding-left: 1em;
}

.article-body {
  padding-top: 2em;
  padding-bottom: 2em;
}

.article-content {
  font-size: 16px;
  line-height: 1.6;
  font-family: Kufam, system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
}

.feedback {
  padding: 1em;
}

.backdrop {
    background: url('../../../assets/images/title-background4.jpg') center;
    background-size: cover;
    background-attachment: fixed;
}

.screen {
  color: black;
  font-size: 30px;
  font-family: Bord;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(206, 206, 206);
  mix-blend-mode: darken;
}
</style>
