<template>
  <div class="game-page">
    <section class="head">
      <page-title
        title="Up for a little game?"
        subtitle="You laugh, you loose"
      />
      <div class="container has-text-right subtitles">
        <p>
          The principle of this game is simple: you watch a curated selection of cat videos.
        </p>
        <p>
          Sounds great, right? But there's a catch, you can't laugh. If I catch you laughing, it's game over... Let's see how long you can last.
        </p>
        <h1 class="subtitle">
          Put on your best Pokerface <span style="font-size:50px">&#128529;</span>
        </h1>
      </div>
    </section>

    <section class="container body">
      <div class="container columns game-container">
        <div class="column is-9">
          <div class="youtube">
            <embedded-playlist />
          </div>
        </div>
        <div class="column is-3">
          <div class="cam">
            <user-camera-feed />
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- TODO faceapi is called as a plugin and therefore considered to be executed inside a node env, gotta monkeypatch it so that it considers a browser env -->
</template>

<script>
import UserCameraFeed from '@/components/Game/UserCameraFeed'
import EmbeddedPlaylist from '@/components/Game/EmbeddedPlaylist'

export default {
  name: 'Game',
  components: {
    UserCameraFeed,
    EmbeddedPlaylist
  },
  head: {
    title: 'You Laugh You Loose'
  }
}
</script>

<style scoped>
.subtitles {
  padding: 2em;
}
</style>
