@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #132435;
$primary-invert: findColorInvert($primary);
$twitter: #43b633;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": (hsl(0, 0%, 15%), $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": (rgba(34, 102, 28, 0.966), $success-invert),
    "warning": (rgb(209, 99, 9), $warning-invert),
    "danger": (rgba(131, 18, 23, 0.966), $danger-invert),
    "twitter": ($twitter, $twitter-invert),
    "transparent": (hsla(0, 0%, 100%, 0), hsl(0, 0%, 100%))
);

// Font
$family-primary: 'Gugi', Arial, Helvetica, 'sans-serif', cursive !important;
$title-color: hsl(0, 0%, 0%);
$subtitle-color: hsl(0, 0%, 4%);
$label-color: hsl(0, 0%, 4%);
$text: hsl(0, 0%, 6%);

// Navbar
$navbar-item-color:  hsl(0, 0%, 10%);
$navbar-background-color:  hsla(0, 0%, 93%, 0.61);
$navbar-item-hover-background-color: hsla(180, 2%, 67%, 0.603);
$navbar-dropdown-background-color: hsla(0, 0%, 93%, 0.801);
$navbar-dropdown-item-hover-background-color: hsla(180, 2%, 67%, 0.603);
$navbar-padding-horizontal: 0.1em;
$navbar-item-img-max-height: 8em;

// Footer
$footer-background-color: hsla(0, 0%, 90%, 0);
$footer-padding: 3rem 3rem 3rem;

// Modal
$modal-card-head-background-color: hsla(0, 0%, 65%, 0.877);
$modal-card-body-background-color: hsla(0, 0%, 65%, 0.877);
$modal-card-head-radius: 5px;
$modal-card-foot-radius: 5px;
$modal-card-head-border-bottom: transparent;
$modal-card-foot-border-top: transparent;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Table
$table-background-color: $dark;
$table-color: $white;
$table-cell-heading-color: $white;
$table-head-cell-color: $white;
$table-foot-cell-color: $white;

// Input
$input-border-color:  hsla(0, 0%, 50%, 0.747);
$input-background-color: hsla(0, 0%, 100%, 0.856);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";