/* Fonts */
@font-face {
  font-family: 'Gugi';
  src: url(../Fonts/Gugi/Gugi-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'SeldomScene';
  src: url(../Fonts/SeldomScene.ttf) format("truetype");
}
@font-face {
  font-family: 'Bord';
  src: url(../Fonts/Bord.otf) format("opentype");
}
@font-face {
  font-family: 'Kufam';
  src: url(../Fonts/Kufam-Regular.ttf) format("truetype");
}

/* Particles.js config */
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: -1; */
}

/* Transitions */
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}
