<template>
  <nuxt-link :to="articleLink" class="article-preview">
    <div class="card">
      <!-- TODO redesign the cards -->
      <div class="card-image">
        <figure class="image is-16by9">
          <img has-ratio :src="thumbnail" alt="Article Thumbnail image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://thispersondoesnotexist.com/image" alt="Author Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-5">
              {{ title }}
            </p>
            <p class="subtitle is-7">
              By {{ author }}
            </p>
          </div>
        </div>

        <div class="content has-text-left">
          <p>{{ previewText }}</p>
          <time><b-icon
            pack="fas"
            icon="history"
            size="is-small"
          />{{ date }}</time>
          <b-taglist>
            <b-tag v-for="tag in tags" :key="tag" class="tag" type="is-dark">
              {{ tag }}
            </b-tag>
          </b-taglist>
        </div>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  name: 'ArticlePreview',
  props: {
    id: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    author: {
      type: String,
      required: true
    },
    previewText: {
      type: String,
      required: true
    },
    thumbnail: {
      type: String,
      required: true
    },
    date: {
      type: String,
      required: true
    },
    tags: {
      type: Array,
      required: true
    },
    isAdmin: {
      type: Boolean,
      required: false
    }
  },
  computed: {
    articleLink () {
      return this.isAdmin ? '/admin/' + this.id : '/articles/' + this.id
    }
  }
}
</script>

<style scoped>
.card {
  border-radius: 10px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: hsla(0, 6%, 90%, 0.904);
}

img {
  border-radius: 10px;
}

.content {
  line-height: 1.5;
}

.tag {
  margin: 0 0.1em;
}
.title {
  font-family: bord;
}
</style>
