<template>
  <section class="posts-list">
    <div class="columns is-centered is-multiline">
      <div v-for="article in articles" :key="article.id" class="column is-4">
        <article-preview
          :id="article.id"
          :is-admin="isAdmin"
          :author="article.author"
          :title="article.title"
          :preview-text="article.previewText"
          :thumbnail="article.thumbnail"
          :date="article.updatedAt | date"
          :tags="article.tags"
        />
      </div>
    </div>
  </section>
</template>

<script>
import ArticlePreview from '@/components/Articles/ArticlePreview'

export default {
  name: 'ArticleList',
  components: {
    ArticlePreview
  },
  props: {
    isAdmin: {
      type: Boolean,
      default: false
    },
    articles: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
.column {
  transition: transform .2s;
}

.column:hover {
  transform: scale(1.05);
}
</style>
