<template>
  <figure class="image is-16by9">
    <iframe
      class="has-ratio"
      src="https://www.youtube.com/embed/videoseries?list=PLZfXBtgawKba4VXGe1zgIfkKlBR6jqpwi"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      alt="Playlist of cat videos"
    />
  </figure>
</template>

<script>
export default {
  name: 'EmbeddedPlaylist'
}
</script>
