<template>
  <video
    id="user-stream"
    ref="video"
    width="640"
    height="480"
    autoplay
    alt="Your webcam's video stream goes here"
  />
</template>

<script>
export default {
  name: 'UserCameraFeed',
  data () {
    return {
      video: {}
    }
  },
  mounted () {
    this.video = this.$refs.video
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices.getUserMedia({ video: true }).then((stream) => {
        this.video.srcObject = stream
        this.video.play()
      })
        .catch(err => (err))
    }
  }
}
</script>

<style>
#outerContainer {
  height: 400px;
  background-color: #333;
  position: absolute;
  z-index: 9;
  border: 1px solid #000000;
  text-align: center;
}
#draggable-container {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
#item:active {
background-color: rgba(168, 218, 220, 1.00);
}
#item:hover {
cursor: pointer;
border-width: 20px;
}

#user-stream {
  border: 1px solid black;
  border-radius: 50%;
}
</style>
