<template>
  <div class="margin">
    <video id="inputVideo" onplay="onPlay(this)" autoplay muted />
    <canvas id="overlay" />
  </div>
</template>

<script>
import * as faceapi from 'face-api.js'

export default {
  name: 'UserCameraFeed',
  data () {
    return {
      video: {}
    }
  },
  mounted () {
    /* eslint-disable no-console */
    async function run () {
      // load the models
      await faceapi.loadMtcnnModel('/')
      await faceapi.loadFaceRecognitionModel('/')

      // try to access users webcam and stream the images
      // to the video element
      const videoEl = document.getElementById('inputVideo')
      navigator.getUserMedia(
        { video: {} },
        // eslint-disable-next-line no-return-assign
        stream => videoEl.srcObject = stream,
        err => console.error(err)
      )
    }

    run()
  }
}
</script>

<style>
.margin {
  position: relative;
}

#inputVideo {
  border: 1px solid black;
}
</style>
