<template>
  <div class="audio-page">
    <page-title
      title="Music"
      subtitle="Feeling Groovy?"
    />
    <div class="container has-text-right subtitles">
      <p>
        That's right, every track you can hear on this page has been meticulously crafted by... An artificial Intelligence. So get your groove on, and listen to our curated selection of machine-designed tracks
      </p>
      <small>And despair at the fact that a machine is more creative than you.</small>
      <p>
        Warning: the embedded soundcloud players here mean that Soundcloud might be collecting your data, by using these players you agree to this. Just so you know.
      </p>
    </div>

    <section class="players-tile">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child right-tile notification">
                <p class="title">
                  How about some synths?
                </p>
                <audio-player
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/362996750"
                  title="1. Dalston Graffiti (Synth Pop)"
                />
              </article>
              <article class="tile is-child right-tile notification">
                <p class="title">
                  Some tech
                </p>
                <audio-player
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/362994317"
                  title="8. Miniature Spaces (Tech)"
                />
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child left-tile notification has-text-centered">
                <p class="title">
                  Maybe some funk is more your jam?
                </p>
                <audio-player
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/362996702"
                  title="6. Vibrant Lives (Funk)"
                />
                <figure class="image is-square">
                  <logo />
                </figure>
                <p class="subtitle has-text-centered">
                  Enjoying yourself? I see you shaking those hips
                </p>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child left-tile notification">
              <p class="title">
                Electric guitar? Easy
              </p>
              <div class="content">
                <audio-player
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/267136004"
                  title="Electric Guitar"
                />
              </div>
              <p>You think that's an actual guitar you're hearing? This sound, the waveform itself was created by an AI, in an effort to mimic the sound of an actual guitar.</p>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child right-tile notification has-text-right">
            <div class="content">
              <p class="title">
                More Synths
              </p>
              <p class="subtitle">
                (We love synthetics)
              </p>
              <div class="content">
                <audio-player
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/362996744"
                  title="2. Miami Fiction (Pop Dance)"
                />
                <audio-player
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/362996738"
                  title="3. Ethereal Thunder (Moody Electronica)"
                />
                <audio-player
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/362996732"
                  title="4. Miniscule Change (Dreamy Electronica)"
                />
                <audio-player
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/362996729"
                  title="5. Earthy Impulse (Moody Electronica)"
                />
              </div>
              <p>
                And there's a whole lot more around, you could even get your own tailored songs at <a href="https://evokemusic.ai/">Evoke Music</a>
              </p>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import AudioPlayer from '@/components/Audio/AudioPlayer'

export default {
  name: 'Music',
  components: {
    AudioPlayer
  },
  head: {
    title: 'AI engineered music'
  }
}
</script>

<style scoped>
.subtitles {
  padding: 2em;
}

.players-tile {
  margin-right: 2em;
  margin-left: 2em;
}

.is-child {
  color: rgb(20, 20, 20);
  box-shadow: #757f9a79 1px 1px 1px 1px;
  transition: transform .4s;
}

.is-child:hover {
  box-shadow: #757f9a79 2px 2px 2px 2px;
  transform: scale(1.04);
}

.right-tile {
  background: #757f9a79;
  background: -webkit-linear-gradient(to right, #d7dde880, #757f9a79);
  background: linear-gradient(to right, #d7dde880, #757f9a79);
}

.left-tile {
  background: #757f9a79;
  background: -webkit-linear-gradient(to left, #d7dde880, #757f9a79);
  background: linear-gradient(to left, #d7dde880, #757f9a79);
}
</style>
