<template>
  <div class="admin-page">
    <admin-navbar />
    <nuxt />
  </div>
</template>

<script>
import AdminNavbar from '@/components/Admin/AdminNavbar'

export default {
  middleware: ['check-auth', 'auth'],
  components: {
    AdminNavbar
  }
}
</script>

<style scoped>
.admin-page {
  background-image: linear-gradient(rgba(54, 54, 54, 0.185), rgba(202, 202, 202, 0.205)),
    url('../assets/images/whitecam.jpg');
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 70%;
}
</style>
