<template>
  <div class="default-layout">
    <the-header />
    <nuxt />
    <the-footer />
  </div>
</template>

<script>
import TheHeader from '@/components/Navigation/TheHeader'
import TheFooter from '@/components/Navigation/TheFooter'

export default {
  components: {
    TheHeader,
    TheFooter
  }
}
</script>

<style scoped>

.default-layout {
  background-image: linear-gradient(rgba(54, 54, 54, 0.185), rgba(202, 202, 202, 0.205)),
    url('../assets/images/whitecam.jpg');
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 70%;
}
</style>
