<template>
  <section class="section">
    <div class="container has-text-centered has-text-black">
      <h1 class="title is-size-2">
        <!-- v-if="error.statusCode === 404" -->
        Error !!
      </h1>
      <h1 class="title is-size-2">
        <!-- v-else -->
      </h1>
      <h2 class="title is-size-3">
        Nothing to see here...
      </h2>
      <a class="is-size-3" href="/">
        Go Back
      </a>
      <div class="container has-text-centered">
        <figure class="image is-128x128 is-inline-block">
          <logo />
        </figure>
      </div>
    </div>
  </section>
</template>

<script>
import Logo from '@/components/Logo'

export default {
  components: {
    Logo
  }
}
</script>
