<template>
  <div class="about-page">
    <page-title
      title="AISight"
      subtitle="About Us"
    />
    <div class="container about">
      <h1 class="title is-size-1">
        AISight
      </h1>

      <p class="subtitle is-size-7">
        Project built in 4 weeks during my formation.
      </p>

      <p>
        Project AISight is a web application based upon the general thematic of Artificial Intelligence. The application presents artistic & technical content that was created by machines. It is made of several pages, each having their own thmatic, like music, graphism and writings. The application also provides access to a game based upon human emotions recognition.
      </p>
      <br>

      <p>
        The app covers the following functionalities:
      </p>

      <p>
        The website presents content linked to Artificial Intelligence structured in 3 main themes:
      </p>

      <ul>
        <li>
          Machine written blog articles. The format is one of a classic web blog. It is possible to add, modify and delete articles.
        </li>

        <li>
          Musical pieces, composed by machines. They are of different genres, and are presented in the form of Soundcloud embedded players.
        </li>

        <li>
          A gallery, presenting artistic images created or modified by machines (convoluted neural networks).
        </li>
      </ul>
      <br>

      <p>
        The game uses the camera of the user to recognize faces and emotions. The user's video source is presented in overprint over a playlist of embedded youtube videos of cats. The principle is that the user must not laugh, otherwise the app will decide the user has lost the game and stop the videos.
      </p>
      <br>

      <p>
        An authentication system is present, allowing a user to register, and administrators to use the administration functionalities.
      </p>
      <br>

      <p>
        The app is built with NuxtJS, a VueJS framework. The backend is based upon the Firebase platform. The game uses the face-api.js API, which is itself based upon a javascript conversion of the Google machine learning engine Tenserflow.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  head: {
    title: 'About AISight'
  }
}
</script>

<style scoped>
.about {
  padding: 1em;
}
</style>
