<template>
  <b-navbar class="admin-navbar" fixed-top>
    <template slot="start">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        See Website
      </b-navbar-item>
      <b-navbar-item tag="router-link" :to="{ path: '/admin' }">
        Dashboard
      </b-navbar-item>
      <b-navbar-item tag="router-link" :to="{ path: '/admin/users' }">
        Users
      </b-navbar-item>
      <b-navbar-dropdown class="hoverable-item" hoverable label="Articles">
        <b-navbar-item tag="router-link" :to="{ path: '/admin/new-article' }">
          Create New Article
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/admin/article' }">
          Published Articles
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/admin/article' }">
          Drafts
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/admin/article' }">
          Deleted
        </b-navbar-item>
      </b-navbar-dropdown>
    </template>

    <template slot="end">
      <b-navbar-item tag="div">
        <div class="buttons">
          <b-button type="is-dark" size="is-medium" @click="onLogout">
            Logout
          </b-button>
        </div>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
export default {
  name: 'AdminNavbar',
  methods: {
    onLogout () {
      this.$store.dispatch('logout')
      this.$router.push('/login')
    }
  }
}
</script>

<style scoped>
.navbar {
  font-family: bord;
  padding-bottom: -2em;
}
.button {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
a:hover,
a:active {
  border-bottom: 2px solid black;
}

</style>
