<template>
  <form class="article-form" @submit.prevent="onSave">
    <b-field horizontal label="Title" message="Please enter a title">
      <b-input v-model="editedArticle.title" name="title" type="text" required expanded />
    </b-field>

    <b-field horizontal label="Author">
      <b-input
        v-model="editedArticle.author"
        name="name"
        type="text"
        required
        placeholder="Name"
      />
      <b-input
        v-model="editedArticle.authoremail"
        label="Author Email"
        name="author email"
        type="email"
        required
        placeholder="author@email.com"
      />
    </b-field>

    <b-field class="tagfield" horizontal label="Tags">
      <b-taginput
        v-model="editedArticle.tags"
        placeholder="Add some tags"
      />
    </b-field>

    <b-field horizontal label="Thumbnail Link" message="Add a link for the thumbnail">
      <b-input
        v-model="editedArticle.thumbnail"
        type="url"
        placeholder="Insert link to a valid image here"
        required
        name="thumbnailLink"
        expanded
      />
    </b-field>

    <b-field class="thumbnail is-primary" :class="{'has-name': !!thumbnail}">
      <b-upload v-model="thumbnail" class="thumbnail-label">
        <span class="thumbnail-cta">
          <b-icon class="thumbnail-icon" icon="upload" />
          <span class="thumbnail-label">Upload a thumbnail</span>
        </span>
        <span v-if="thumbnail" class="thumbnail-name">
          {{ thumbnail.name }}
        </span>
      </b-upload>
    </b-field>

    <b-field horizontal label="Preview Text">
      <b-input
        v-model="editedArticle.previewText"
        has-text-centered
        type="textarea"
        rows="2"
        required
        minlength="10"
        maxlength="250"
      />
    </b-field>

    <b-field label="Content">
      <b-input
        v-model="editedArticle.content"
        has-text-centered
        type="textarea"
        rows="10"
        required
        minlength="10"
        maxlength="8500"
      />
    </b-field>

    <b-field group-multiline>
      <div class="buttons is-centered">
        <button
          class="button form-control is-success"
          type="submit"
          size="is-medium"
        >
          Save
        </button>
        <nuxt-link to="/admin">
          <button
            class="button form-control is-danger"
            size="is-medium"
          >
            Cancel
          </button>
        </nuxt-link>
      </div>
    </b-field>
  </form>
</template>

<script>
export default {
  name: 'ArticleAdminForm',
  props: {
    // eslint-disable-next-line vue/require-default-prop
    article: {
      type: Object,
      required: false
    }
  },
  data () {
    return {
      editedArticle: this.article
        ? { ...this.article } // Using spread op to pull out all the props of the received object to paste them into a new object
        : {
          title: '',
          author: '',
          authoremail: '',
          tags: [],
          thumbnail: '',
          previewText: '',
          content: ''
        },
      thumbnail: null
    }
  },
  methods: {
    onSave () {
      this.$emit('submit', this.editedArticle)
    }
  }
}
</script>

<style scoped>
.article-form {
  padding: 2em;
}

.form-control {
  padding-right: 2em;
  padding-left: 2em;
  margin-right: 2em !important;
  margin-left: 2em !important;
}

.tagfield {
  padding: 1em;
}
</style>
