<template>
  <div class="home-page">
    <vue-particles
      class="particles"
      :particles-number="150"
      shape-type="edge"
      color="#000000"
      lines-color="#000000"
      :line-pacity="0.4"
      :particle-size="3.5"
      :move-speed="2"
      :lines-width="0.5"
      :particles-opacity="0.9"
    />
    <div class="hero logo-container is-large">
      <div class="hero-body">
        <div class="container has-text-centered">
          <figure class="image is-inline-block">
            <logo />
          </figure>
          <div class="container titles has-text-centered">
            <h1 class="title">
              AISight
            </h1>
            <br>
            <h3 class="subtitle">
              Keeping an Eye on You
            </h3>
          </div>
        </div>
        <div class="scroll-cue has-text-centered">
          <scroll-cue />
        </div>
      </div>

      <div class="hero-foot">
        <div class="section has-smaller-padding">
          <div class="container">
            <div class="column is-12 has-text-centered">
              <div>
                <h2 class="title-footer is-unselectable">
                  Welcome
                </h2>
              </div>
            </div>
            <br>
            <div class="columns is-centered is-vcentered is-multiline is-mobile">
              <div class="column is-narrow has-text-centered">
                <span
                  data-label="You'll need to provide access to your camera. But no spying, promise :)"
                  class="is-light is-top is-medium b-tooltip is-animated is-multiline"
                  style="transition-delay: 0ms;"
                >
                  <nuxt-link
                    type="button"
                    to="/game"
                    class="button is-large is-dark"
                    style="min-height: 75px;"
                  >
                    <span>In the mood for a little game ?</span>
                  </nuxt-link>
                </span>
                <div>
                  <p class="is-size-7">
                    Come try ours • Rules are simple: <strong>You laugh, you loose</strong>.
                  </p>
                </div>
              </div>
              <div class="column is-8-mobile is-2-tablet has-text-centered">
                <p class="is-size-4 has-text-black is-unselectable">
                  Or you could
                </p>
              </div>
              <div class="column is-narrow has-text-centered">
                <nuxt-link
                  type="button"
                  to="/articles"
                  class="button is-large is-dark"
                  style="height: 75px"
                >
                  <span>Check out one of our articles</span>
                </nuxt-link>
                <div>
                  <p class="is-size-7">
                    Or more than one • They're all <strong>Fascinating</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container articles-display">
      <article-list :articles="loadedArticles" />
    </div>
  </div>
</template>

<script>
import ScrollCue from '@/components/UI/ScrollCue'

export default {
  components: {
    ScrollCue
  },
  computed: {
    loadedArticles () {
      return this.$store.getters.loadedArticles
    }
  },
  head: {
    title: 'AISight - Home'
  }
}
</script>

<style scoped>
.home-page {
  background: linear-gradient(rgba(54, 54, 54, 0.185), rgba(202, 202, 202, 0.205)) !important;
  background: -moz-radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(130,0,0,1) 4%, rgba(0,0,0,0.9514005431274072) 8%, rgba(121,121,121,1) 9%, rgba(255,255,255,1) 20%, rgba(242,242,242,1) 22%, rgba(222,222,222,1) 26%, rgba(255,255,255,1) 100%) !important;
  background: -webkit-radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(130,0,0,1) 4%, rgba(0,0,0,0.9514005431274072) 8%, rgba(121,121,121,1) 9%, rgba(255,255,255,1) 20%, rgba(242,242,242,1) 22%, rgba(222,222,222,1) 26%, rgba(255,255,255,1) 100%) !important;
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(130,0,0,1) 4%, rgba(0,0,0,0.9514005431274072) 8%, rgba(121,121,121,1) 9%, rgba(255,255,255,1) 20%, rgba(242,242,242,1) 22%, rgba(222,222,222,1) 26%, rgba(255,255,255,1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#ffffff",GradientType=1) !important;
  padding-bottom: 20vh;
}

.hero.is-large .hero-body {
  padding-top: 3rem !important;
  padding-bottom: 6rem !important;
}

.title-footer {
  font-size: 30px;
  font-family: Bord;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(206, 206, 206);
}

.titles h3 {
  font-family: SeldomScene;
  color: rgb(30, 0, 0);
  font-size: 2.5vw;
  letter-spacing: 2vw;
  text-shadow: rgba(56, 56, 56, 0.801) 1px 0 2px;
}

.titles h1 {
  font-family: Bord;
  font-size: 10vw;
  letter-spacing: 5vw;
  text-shadow: rgba(95, 95, 95, 0.801) 2px 2px 1px;
}

.button {
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

.scroll-cue {
  margin-top: 5em;
  margin-bottom: 5em;
}

.articles-display {
  padding-top: 20vh;
}
</style>
