<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title is-size-2 has-text-centered">
        {{ isLogin ? 'Login' : 'Signup' }}
      </h1>
      <button
        type="button"
        class="delete"
        @click="$emit('close')"
      />
    </header>
    <button
      class="button is-centered is-dark"
      @click="isLogin = !isLogin"
    >
      {{ isLogin ? 'No account? Switch to Signup' : 'Already a registered User? Switch to Login' }}
    </button>
    <form class="login-form" @submit.prevent="onSubmit">
      <section class="modal-card-body">
        <b-field label="Email" label-position="inline">
          <b-input
            v-model="email"
            type="email"
            icon-pack="fas"
            icon="envelope"
            placeholder="Your email"
            required
          />
        </b-field>

        <b-field label="Password" label-position="inline">
          <b-input
            v-model="password"
            type="password"
            minlenght="8"
            maxlength="30"
            icon-pack="fas"
            icon="fingerprint"
            password-reveal
            placeholder="Your password"
            required
          />
        </b-field>

        <div class="field">
          <b-checkbox v-if="!isLogin" required type="is-dark">
            I agree to the <nuxt-link class="link" to="/legal">
              Terms & Conditions
            </nuxt-link>
          </b-checkbox>
          <b-checkbox v-else>
            Remember me
          </b-checkbox>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-black" type="submit">
          {{ isLogin ? 'Login' : 'Signup' }}
        </button>
        <button class="button is-dark-inversed" @click="$emit('close')">
          Close
        </button>
      </footer>
    </form>
  </div>
</template>

<script>
/* eslint-disable no-console */

export default {
  name: 'LoginModal',
  data () {
    return {
      isLogin: true,
      email: '',
      password: ''
    }
  },
  methods: {
    onSubmit () {
      this.$store.dispatch('authenticateUser', {
        isLogin: this.isLogin,
        email: this.email,
        password: this.password
      })
        .then(() => {
          this.$router.push('/admin')
        })
        .catch(e => console.log(e))
    }
  }
}
</script>

<style scoped>
.modal-card {
  color: hsl(0, 0%, 2%);
  width: auto;
  height: auto;
}

.modal-card-title {
  color: hsl(0, 0%, 2%);
}
</style>
