<template>
  <!-- Using .prevent modifier to prevent default behavior of immeidately sending request to server -->
  <form class="signup-form column is-half" @submit.prevent="onSignup">
    <b-field label="Email">
      <b-input required placeholder="Your email" />
    </b-field>

    <b-field label="Password">
      <b-input required placeholder="Pick a strong password" />
    </b-field>

    <div class="field">
      <b-checkbox required type="is-info">
        I agree to the <nuxt-link class="link" to="/legal">
          Terms & Conditions
        </nuxt-link>
      </b-checkbox>
    </div>

    <b-field group-multiline>
      <div class="buttons is-centered">
        <button
          class="button form-control is-black"
          type="submit"
        >
          Join
        </button>
        <nuxt-link to="/">
          <button
            class="button form-control is-danger"
          >
            Go Back
          </button>
        </nuxt-link>
        <button
          class="button is-dark"
          @click="loginModal()"
        >
          Already a registered user? <span class="login-text">Login</span>
        </button>
      </div>
    </b-field>
  </form>
</template>

<script>
import LoginModal from '@/components/Auth/LoginModal'
export default {
  name: 'SignupForm',
  methods: {
    onSignup () {
      this.$axios
        .$post('https://identitytoolkit.googleapis.com/v1/accounts:signUp?key=' + process.env.apiKey, {
          email: '',
          password: '',
          returnSecureToken: true
        })
    },
    loginModal () {
      this.$buefy.modal.open({
        parent: this,
        component: LoginModal,
        hasModalCard: true,
        trapFocus: true
      })
    }
  }
}
</script>

<style scoped>
.signup-form {
  padding: 2em;
  margin-bottom: 5em;
  border: groove black 1px;
  border-radius: 5%;
  background-color: hsla(180, 4%, 66%, 0.603);
}

.link{
  text-decoration: underline;
}

.form-control {
  padding-right: 2em;
  padding-left: 2em;
  margin-right: 2em !important;
  margin-left: 2em !important;
}

.login-text {
  font-weight: bold;
}
</style>
