<template>
  <div class="container users-page">
    <page-title
      title="Admin - Users Page"
      subtitle="List of your users"
    />
    <users-table />
  </div>
</template>

<script>
import UsersTable from '@/components/Admin/UsersTable'

export default {
  layout: 'admin',
  components: {
    UsersTable
  },
  head: {
    title: 'Admin - Users List'
  }
}
</script>

<style scoped>
.users-page {
  padding: 2em;
}
</style>
